a {
    color: black;
    font-size: 1.5em;
}

#example1 {
    background-image: url('../images/header2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-size: cover;
    height: 100vh;
}

.features{
    word-wrap: break-word;
    text-align: center;
    margin-top: 10%;
    border-radius: 10%;
    padding: 10%;
    background-color: #e7e7e7;
}

h1:before,
h1:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 15%;
}

h1:before {
    right: 0.5em;
    margin-left: -50%;
}

h1:after {
    left: 0.5em;
    margin-right: -50%;
}

.bouquet-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-left: 8px solid #F6D20B;
}

.bouquet-photo {
    height: 35vh;
    background-size: cover;
    background-position: center;
}

.row:nth-child(1) .bouquet-photo {
    background-image: url('../images/boquet.jpg');
}

.row:nth-child(2) .bouquet-photo {
    background-image: url('../images/boquet.jpg');
}

.row:nth-child(3) .bouquet-photo {
    background-image: url('../images/boquet.jpg');
}

.bouquet-content-text {
    padding-top: 30px;
    text-align: left;
    color: grey;
}

.feed-back{
    width: 50%;
    margin: auto;
}

.feed-back-text {
    border: 10px solid #F6D20B;
    border-radius: 0px 40px 0px 40px;
    padding: 2em;
}

.slick-next {
    background-color: black !important;
    border-radius: 50%;
}

.slick-prev{
    background-color: black !important;
    border-radius: 50%;
}

@media screen and (max-width: 1000px) {
    .row:nth-child(1) .bouquet-content {
        order: 1;
    }

    .row:nth-child(1) .bouquet-photo {
        order: 0;
    }

    .row:nth-child(2) .bouquet-content {
        order: 1;
    }

    .row:nth-child(2) .bouquet-photo {
        order: 0;
    }

    .row:nth-child(3) .bouquet-content {
        order: 1;
    }

    .row:nth-child(3) .bouquet-photo {
        order: 0;
    }
}